# Top-level dir files not included by default
include CHANGES.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include Makefile
include MANIFEST.in
include mypy.ini
include pyproject.toml
include README.md
include setup.cfg
include setup.py
include tox.ini

# Misc directories
recursive-include examples *.py *.ipynb
recursive-include requirements *.txt *.in
recursive-include tests *.py
recursive-include docs *.png *.svg

# Include typing stubs
recursive-include src py.typed *.pyi

# Excluded directories
recursive-exclude .idea *
recursive-exclude .github *

# Globally excluded file patterns
recursive-exclude * *.py[cod] *.egg-info __pycache__
